$font-size-root-xs: 62.5%;
$font-size-root-sm: 80%;
$font-size-root-md: 100%;
$font-size-root-lg: 120%;

$font-size-normal: 1.0rem;

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
